# cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.user

# backuped files
*~
\#*
*.orig

# build outputs
build
debug
*.aux
*.dvi
*.log
result

# binary files
*.png
